node_modules
dist
coverage
.angular
android
.env
.env.*
!.env.example
**/*.spec.ts
src/app/testing
Dockerfile
.dockerignore
README.md
.vscode
.editorconfig
.prettierrc
eslint.config.js
capacitor.config.ts
tsconfig.spec.json
